    <div class="container py-4">
        <div class="centered-wrapper">
        <div *ngIf="!loading" class="body">
            <img class="logo" src="../../../assets/iniciar-sesion.png" alt="img login">
            <h3 class="mb-2">Login</h3> 
            <div class="form-floating mb-3">
                <input type="text" [(ngModel)]="username" autocomplete="false" class="form-control" placeholder="Ingrese usuario" [ngClass]="{ 'is-invalid': errorService.hasLoginError() }">
                <label>Usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="Ingrese contraseña" [ngClass]="{ 'is-invalid': errorService.hasLoginError() }">
                <label>Password</label>
            </div>
            <div *ngIf="errorService.hasError('generic')" class="invalid-feedback">Usuario o contraseña inválidos. Intente de nuevo.</div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary btn-lg" (click)="login()">Aceptar</button>
            </div>
            
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
        </div>
    </div>
